<html>
  <head> 
    <title>Team Infomation</title> 
  </head>
<body>
  <h1>Team Infomation of {{team_name}}</h1>
<table border="1">
<tr>
  <th>Team Name</th>
  <td>{{team_name}}</td>
</tr>
<tr>
  <th>Found Year</th>
  <td>{{found_year}}</td>
</tr>
<tr>  
  <th>City</th>
  <td>{{city}}</td>
</tr>
<tr>
  <th>State</th>
  <td>{{state}}</td>
</tr>
<tr>
  <th>Stadiums</th>
  <td>{{stadiums}}</td>
</tr>
<tr>
  <th>Coach</th>
  <td>{{coach}}</td>
</tr>
<tr>
  <th>Players Lists</th>
  <td><p><a href="{{team_name}}/player_list">view</a></p></td>
</tr>
<tr>
  <th>Schedule</th>
  <td><p><a href="{{team_name}}/schedule">view</a></p></td>
</tr>
</table>


<p>
  <br>
  <br>
<p><a href="/">Back to homepage</a> </p>
<p><a href="/team">Back to team search</a> </p>
</p>

</body>


</html>