<html>
  <head> 
    <title>Player Stat</title> 
  </head>
<body>
  <h1>Stat of {{player_name}}</h1>
<table border="1">
<tr>
  <th>Player ID:</th>
  <td>{{player_id}}</td>
</tr>
<tr>
  <th>Name:</th>
  <td>{{player_name}}</td>
</tr>
<tr>  
  <th>Team:</th>
  <td><p><a href="/team/{{team_name}}">{{team_name}}</a></p></td>
</tr>
<tr>
  <th>Position:</th>
  <td>{{player_position}}</td>
</tr>
<tr>
  <th>Height:</th>
  <td>{{height}}</td>
</tr>
<tr>
  <th>Weight:</th>
  <td>{{weight}}</td>
</tr>
<tr>
  <th>Blocks:</th>
  <td>{{block}}</td>
</tr>
<tr>
  <th>Rebounds:</th>
  <td>{{rebounds}}</td>
</tr>
<tr>
  <th>Assists:</th>
  <td>{{assists}}</td>
</tr>
<tr>
  <th>Steals:</th>
  <td>{{steals}}</td>
</tr>
<tr>
  <th>2 point %</th>
  <td>{{twopoint_shot_percentage}}</td>
</tr>
<tr>
  <th>3 point %</th>
  <td>{{threepoint_shot_percentage}}</td>
</tr>
<tr>
  <th>career start year</th>
  <td>{{start_year}}</td>
</tr>
<tr>
  <th>salary</th>
  <td>{{salary}}</td>
</tr>
<tr>
  <th>points per game</th>
  <td>{{points_per_game}}</td>
</tr>
<tr>
  <th>News</th>
  <td><p><a href="{{player_name}}/news">view</a></p></td>
</tr>
<tr>
  <th>Schedule</th>
  <td><p><a href="{{player_name}}/schedule">view</a></p></td>
</tr>
</table>

<p>
  <br>
  <br>
<p><a href="/">Back to homepage</a> </p>
<p><a href="/player">Back to player search</a> </p>
</p>

</body>


</html>