<html><head><title>Schedule of {{team_name}}</title> </head>
	<body>
	 <h1>Schedule of {{team_name}}</h1>
	<table border="1">
	<tr>
	  <th>date</th>		  
	  <th>home team</th>
	  <th>away team</th>
	  <th>winner</th>
	  <th>stadium name</th>
	</tr>
	{% for i in schedule %}
	  <tr>
	  <td>{{ i[0] }}</td>
	  <td><a href="/team/{{i[1]}}">{{ i[1] }}</a></td>
	  <td><a href="/team/{{i[2]}}">{{ i[2] }}</a></td>
	  <td>{{ i[4] }}</td>
	  <td>{{ i[3] }}</td>
	  </tr>
	{% endfor %}
	</table>
	<p><br><br>
	<p><a href="/">Back to homepage</a> </p>
	<p><a href="/team">Back to team search</a> </p>
	</p>
	</body>
	</html>